@import url(../colors.css);

tabs-sk > button {
  margin: 0;
  padding: 6px 12px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  color: var(--gray);
  fill: var(--gray);
  background-color: var(--light-blue);
  border-bottom: solid 4px var(--blue);
}

tabs-sk > button.selected {
  background: var(--blue);
  border: none;
  box-shadow: none;
  color: var(--white);
  fill: var(--white);
}
