node_modules/
out/
dist/
coverage/
elements-sk/
.parcel-cache

# Generated icon elements.
src/icon/*.ts

# TypeScript compiler output files.
src/**/*.d.ts
src/**/*.d.ts.map
src/**/*.js
src/**/*.js.map
