@import url(../colors.css);

checkbox-sk {
  display: block;
  margin: 0.4em;
}

checkbox-sk span {
  display: inline-block;
}

checkbox-sk label {
  display: flex;
  align-items: center;
}

checkbox-sk .box {
  margin-right: 0.4em;
  border: 4px solid var(--blue);
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 4px;
}

checkbox-sk input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

checkbox-sk input:checked + .box {
  background: var(--blue);
}

checkbox-sk input:focus + .box {
  outline: dotted thick var(--blue);
  outline-offset: 1px;
}

checkbox-sk:hover .box {
  background: var(--light-blue);
}

checkbox-sk input:checked:hover + .box {
  background: var(--gray);
}

checkbox-sk input:checked + .box {
  background: var(--blue);
}

checkbox-sk[hidden] {
  display: none;
}

checkbox-sk input:disabled + .box {
  border: 4px solid var(--gray);
  background: white;
}

checkbox-sk input:disabled:checked + .box {
  border: 4px solid var(--gray);
  background: var(--gray);
  color: var(--gray);
}
