@import url(../colors.css);

dialog-sk {
  display: none;
  background: var(--white);
  position: fixed;
  top: 50%;
  max-height: 80%;
  max-height: calc(96vh - 32px);
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  box-shadow: 2px 2px 4px var(--gray);
  overflow-y: auto;
  border: solid 1px var(--light-gray);
}

dialog-sk[shown] {
  display: block;
}
