@import url(../../colors.css);
/*
 * Styles for select and options to make them look better.
 */
select,
option {
  padding: 0.6em;
  background-color: var(--white);
  border: none;
  outline: none;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

select {
  border: solid 1px var(--light-blue);
  margin: 0.6em;
}

select option:focus,
select:focus {
  border: solid 1px var(--light-gray);
  outline: dashed 2px var(--blue);
  outline-offset: 3px;
}

option:hover {
  background-color: var(--dark-white);
}

option:focus {
  background-color: var(--dark-white);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

option:checked {
  background-color: var(--light-blue);
  color: var(--blue);
}

select {
  overflow-y: auto;
}
