@import url(../colors.css);

select-sk,
select-sk > * {
  padding: 0.6em;
  background-color: var(--white);
  border: none;
  outline: none;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

select-sk {
  border: solid 1px var(--light-blue);
  display: block;
}


select-sk > [selected] {
  background: var(--light-gray);
}

select-sk > *:focus,
select-sk:focus {
  border: solid 1px var(--light-gray);
  outline: dotted thick var(--blue);
  outline-offset: 1px;
}

select-sk > *:hover {
  background-color: var(--dark-white);
}

select-sk > *:focus {
  background-color: var(--dark-white);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

select-sk > *[selected] {
  background-color: var(--light-blue);
  color: var(--blue);
}

