@import url(../colors.css);

radio-sk {
  display: block;
  margin: 0.4em;
}

radio-sk span {
  display: inline-block;
}

radio-sk label {
  display: flex;
  align-items: center;
}

radio-sk .box {
  margin-right: 0.4em;
  border: 4px solid var(--blue);
  width: 16px;
  height: 16px;
  background: var(--white);
  border-radius: 50%;
}

radio-sk input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

radio-sk input:checked + .box {
  background: var(--blue);
}

radio-sk input:focus + .box {
  outline: dotted thick var(--blue);
  outline-offset: 1px;
}

radio-sk:hover .box {
  background: var(--dark-white);
}

radio-sk input:checked:hover + .box {
  background: var(--gray);
}

radio-sk input:checked + .box {
  background: var(--blue);
}

radio-sk[hidden] {
  display: none;
}

radio-sk input:disabled + .box {
  border: 4px solid var(--gray);
  background: var(--white);
}

radio-sk input:disabled:checked + .box {
  border: 4px solid var(--gray);
  background: var(--gray);
  color: var(gray);
}
