@import url(../colors.css);

nav-links-sk {
  display: none;
  position: absolute;
  z-index: 200;
  background: var(--white);
  border: solid 1px var(--light-gray);
  margin-left: 16px;
}

nav-links-sk[shown] {
  display: block;
}

nav-links-sk a {
  display: block;
  padding: 12px;
  color: var(--blue);
  fill: var(--blue);
}

nav-links-sk a:hover {
  background: var(--light-gray);
}
